//<ШРИФТЫ>===============================================================================================================

//<Подключаем шрифты>====================================================================================================
//&display=swap&subset=cyrillic-ext

//<Подключаем шрифты>====================================================================================================

//<Иконочные шрифты>=====================================================================================================
//@import "icons.scss";
//<Иконочные шрифты>=====================================================================================================

//<Шрифт по умолчанию>===================================================================================================
$fontfamily: "";
//<Шрифт по умолчанию>===================================================================================================

//<ШРИФТЫ>===============================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$maxWidth: 1440;
$minwidth: 320px;
$mw: 1280;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//Color

//<ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================================
@import "null.scss";
body {
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===========================================================================================

//<ОБОЛОЧКА>=============================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//<ОБОЛОЧКА>=============================================================================================================

//<ОСНОВНАЯ СЕТКА>=======================================================================================================
._container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//<ОСНОВНАЯ СЕТКА>========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================================
@import "header.scss";
@import "footer.scss";
@import "ui.scss";
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================================

//<ОСНОВНОЙ БЛОК>=========================================================================================================
.page {
	flex: 1 1 auto;
}
//========================================================================================================================

//========================================================================================================================

//========================================================================================================================

//</ОСНОВНОЙ БЛОК>========================================================================================================
